* {
  box-sizing: border-box;
}

h1 {
  font-size: 38px;
  font-weight: bold;
}

.current-temp {
  font-size: 60px;
  font-weight: bold;
  text-align: right;
}

p {
  font-size: 20px;
}

.container {
  padding: 10px 50px;
  max-width: 1000px;
  font-family: "Montagu Slab", serif;
  background-size: cover;
  color: #00204a;
}

.card-img {
  width: 125px;
  display: block;
  margin: 0 auto;
}
.card-header,
.card-text {
  font-weight: bold;
  color: #00204a;
}
.card-header {
  font-size: 18px;
  padding: 4px 8px;
}
.card-text {
  font-size: 16px;
}
.card-body {
  padding: 8px;
}
.current-block {
  padding: 30px;
  margin: 15px;
  background-color: rgba(247, 247, 247, 0.4);
  border-radius: 0.375rem;
}

.current-weather {
  list-style-type: none;
  font-size: 16px;
  padding-left: 0;
}

.conditions {
  text-transform: capitalize;
}

.input-group {
  max-width: 500px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #00204a;
  border-color: #00204a;
}

.btn-primary:hover {
  border-color: #002e6b;
  background-color: #002e6b;
}

.week-forecast {
  width: 150px;
  margin: 0 auto;
  padding: 0;
}
.author-info {
  font-size: 12px;
  letter-spacing: 1px;
  font-style: italic;
  padding: 5px 0;
}

.github-link {
  color: #00204a;
}
.github-link:hover {
  color: #00204a;
}

.list-icon {
  width: 25px;
  color: #00204a;
}

.celsius-link,
.fahrenheit-link,
.units {
  color: #00204a;
  font-size: 26px;
  text-decoration: none;
  vertical-align: text-top;
  font-weight: bold;
}

.celsius-link:hover,
.fahrenheit-link:hover {
  color: #00204a;
  font-size: 32px;
  cursor: default;
}

.active {
  font-size: 32px;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 26px;
  }
  .current-temp {
    font-size: 40px;
    text-align: center;
  }
  .units {
    text-align: center;
  }
  p {
    font-size: 14px;
  }
}
