* {
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

.current-temp {
  font-size: 80px;
  font-weight: bold;
  text-align: right;
}

p {
  font-size: 22px;
}

.container {
  margin: 15px auto;
  padding: 20px 50px;
  max-width: 1200px;
  font-family: "Montagu Slab", serif;
  background-image: url(images/background-clouds.jpg);
  color: white;
}

.card-img {
  width: 150px;
  display: block;
  margin: 0 auto;
}
.card-header,
.card-text {
  font-weight: bold;
  color: black;
}
.card-header {
  font-size: 18px;
}
.card-text {
  font-size: 16px;
}
.current-block {
  padding: 30px;
  margin: 10px;
}

.current-weather {
  list-style-type: none;
  font-size: 18px;
}

.conditions {
  text-transform: capitalize;
}

.input-group {
  max-width: 500px;
  margin: 0 auto;
}

.week-forecast {
  width: 200px;
  margin: 0 auto;
}
.author-info {
  font-size: 12px;
  letter-spacing: 1px;
  font-style: italic;
  padding: 10px 0;
}

.github-link {
  color: #ffffff;
}
.github-link:hover {
  color: #ffffff;
}

.list-icon {
  width: 25px;
  color: #ffffff;
}

.celsius-link,
.fahrenheit-link,
.units {
  color: #ffffff;
  font-size: 26px;
  text-decoration: none;
  vertical-align: text-top;
  font-weight: bold;
}

.celsius-link:hover,
.fahrenheit-link:hover {
  color: #ffffff;
  font-size: 30px;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 30px;
  }
  .current-temp {
    font-size: 50px;
    text-align: center;
  }
  .units {
    text-align: center;
  }
  p {
    font-size: 16px;
  }
}
